# Ignore the virtual environment
venv/

# Ignore system-specific files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables and credentials
.env.local
.env
config.py
client_secret.json

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore log files
*.log

# Ignore Flask session
flask_session/
